.dashboardMapContainer {
  width: 100%;
  background-color: #fff;
  padding: 20px 18px 48px;
  border-radius: 14px;
  overflow: hidden;
  .mapTitleBox {
    display: flex;
    align-items: center;
  }
  .mapTitle {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    margin: 0 8px 0 0;
  }
  .mapIcon {
    width: 20px;
    height: 20px;
  }
  .mapTitle {
    font-size: 15px;
    font-weight: 600;
    line-height: 16px;
  }
  .sliderBox {
    width: 100%;
    color: #200;
    position: relative;
    .image {
      width: 100%;
      margin: 0 auto;
      display: block;
      max-height: 80vh;
      position: relative;
    }
    .devicesListWrapper {
      width: 100%;
      height: 100%;
      background-color: red;
    }

    h1 {
      font-size: 50px;
    }
    :global {
      .swiper-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 18px;
        position: relative;
      }
      .swiper-pagination-bullet {
        margin: 0 8px;
        border-radius: 4px;
        background: #e5f2ff;
        width: 34px;
        height: 34px;
        font-size: 15px;
        font-weight: 500;
        line-height: 22px;
        display: grid;
        place-items: center;
        color: #007eff;
        cursor: pointer;
      }
      .swiper-pagination-bullet-active {
        background: linear-gradient(177deg, #0e55e1 28.52%, #3438cd 94.78%);
        box-shadow: 0px 4px 16px 0px rgba(178, 178, 199, 0.74);
        color: #ffffff;
      }
    }
  }

  .pagination {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: center;
    position: relative;
    z-index: 50;
    .paginationItem {
      margin: 0 8px;
      border-radius: 4px;
      background: #e5f2ff;
      width: 34px;
      height: 34px;
      font-size: 15px;
      font-weight: 500;
      line-height: 22px;
      display: grid;
      place-items: center;
      color: #007eff;
      cursor: pointer;
    }

    .activePaginationItem {
      background: linear-gradient(177deg, #0e55e1 28.52%, #3438cd 94.78%);
      box-shadow: 0px 4px 16px 0px rgba(178, 178, 199, 0.74);
      color: #ffffff;
    }
    .paginationText {
      color: #888;
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
      margin-left: 27px;
    }
  }

  .swiper_button_prev_unique,
  .swiper_button_next_unique {
    width: 34px;
    height: 34px;
    border-radius: 4px;
    background: #e5f2ff;
    display: inline-block;
    img {
      display: block;
      width: 15px;
      height: 15px;
      margin: 9.5px auto;
    }
  }
  .swiper_button_next_unique,
  .swiper_button_prev_unique {
    bottom: 0;
  }

  .swiper_button_prev_unique {
    left: 50%;
  }

  .swiper_button_next_unique {
    right: 50%;
    img {
      transform: rotate(180deg);
    }
  }
  .zoomBox {
    position: absolute;
    right: 0;
  }
}
.select {
  width: 66px;
  appearance: none;
  background: transparent;
  background-image: url("../../../../../public/images/icons/chevron-down-blue.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-position-x: 14px;
  border-radius: 8px;
  border: 1px solid #80bfff;
  outline: 1px solid #80bfff;
  background-color: #e5f2ff;
  padding: 6px 8px;
}

.zoomBtn {
  background-color: unset;
  border: none;
  outline: none;
}
