.deviceTableItem {
  .image {
    width: 40px;
    height: 40px;
    opacity: 0.5;
    border-radius: 50%;
  }
  .statusBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    background-color: #ecfdf3;
    padding: 0px 7px;
    border-radius: 16px;
    width: fit-content;
    gap: 4px;
    height: 21px;
    .statusBadge {
      width: 8px;
      height: 8px;
      background-color: #36976a;
      border-radius: 50%;
    }
    .status {
      color: #36976a;
      font-size: 12px;
      font-weight: 600;
      line-height: 16px;
    }
  }
  .statusBoxOffline {
    background-color: #f1f2f6;
    .statusBadge {
      background-color: #b8b8b8;
    }
    .status {
      color: #b8b8b8;
    }
  }
}
.sensorsList {
  padding: 18px;
  border-radius: 14px;
  background: #f1f2f6;
  .listHeader,
  .listItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .listHeader {
    & span {
      color: #888;
      font-size: 14px;
      font-weight: 600;
      line-height: 16px;
      margin-bottom: 16px;
    }
  }
  .listItem {
    border-bottom: 1px solid #e7e7e7;
    padding: 8px 0;

    & span {
      color: #111;
      font-size: 14px;
      font-weight: 600;
      line-height: 16px;
    }
  }
}
.modalContainer {
  top: 30%;
}
.modalBody {
}

.w6 {
  width: 6%;
}
.w10 {
  width: 10%;
}
.hideMobile {
  @media (max-width: 750px) {
    display: none;
  }
}
.actionIcon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
