.deviceTableItem {
  .name {
    display: flex;
    align-items: center;
    .image {
      width: 20px;
      height: 20px;
      opacity: 0.5;
    }
    .nameValue {
      display: block;
      margin-right: 8px;
      width: 80%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      @media (max-width: 750px) {
        width: 90px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
  .statusBox {
    display: flex;
    align-items: center;
    width: fit-content;
    background-color: #ecfdf3;
    padding: 2px 7px;
    border-radius: 16px;
    .statusBadge {
      width: 6px;
      height: 6px;
      margin-left: 4px;
      background-color: #36976a;
      border-radius: 50%;
    }
    .status {
      color: #36976a;
      font-size: 12px;
      font-weight: 600;
      line-height: 16px;
    }
  }
  .statusBoxOffline {
    background-color: #f1f2f6;
    .statusBadge {
      background-color: #b8b8b8;
    }
    .status {
      color: #b8b8b8;
    }
  }
  .link {
    color: #007eff;
    text-decoration: underline;
  }
  .systemInfoList {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2%;
    & span {
      display: block;
      width: 25%;
      text-align: center;
      margin-top: 6px;
      &:hover {
        color: #007eff;
        cursor: pointer;
      }
    }
  }
}
.hideMobile {
  @media (max-width: 750px) {
    display: none;
  }
}
