.mobileSearchBox {
  width: 100%;
  margin-bottom: 24px;
  display: none;
  @media (max-width: 750px) {
    display: block;
  }
  .SearchBox {
    width: 100%;
    height: 44px;
    margin: 0 auto;
    max-width: unset;
  }
}
.container {
  width: 100%;
  padding: 24px;
  background-color: white;
  border-radius: 14px;
  min-height: 90vh;
  @media (max-width: 750px) {
    width: 100%;
    padding: 16px;
    min-height: 60vh;
  }
  .right {
    width: 60%;
    display: flex;
    align-items: center;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 48px;

    @media (max-width: 750px) {
      display: none;
    }

    .title {
      color: var(--colors-neutral-700, #111);
      background-color: white;
      font-weight: 500;
      text-align: right;
      font-size: 16px;
      font-weight: 500;
      margin-left: 16px;
    }

    .sentTiketBtn {
      display: flex;
      width: 182px;
      height: 48px;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 10px;
      background: #007eff;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1) inset,
        0px -4px 4px 0px rgba(0, 0, 0, 0.1) inset;
      color: var(--White, #fff);
      font-size: 16px;
      font-weight: 700;
    }
  }

  .tabContainer {
    background-color: white;
  }

  .TabsBox {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: white;
  }

  .profileTab {
    color: var(--colors-neutral-400, #888);
    cursor: pointer;
    background-color: white;
    margin: 0 1.8%;
    padding: 37px 0 12px;
    font-size: 16px;
    font-weight: 500;
    @media (max-width: 750px) {
      padding: 0 0 12px;
      margin: 0;
      margin-left: 16px;
    }
  }

  .profileActiveTab {
    color: #007eff;
    border-bottom: 1px solid #007eff;
  }

  .content {
    height: 70vh;
    overflow-y: auto;
    background-color: white;
  }
}
.tableWrapper {
  margin-top: 34px;
  width: 100%;
  & th {
    color: #888888;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    @media (max-width: 750px) {
      display: none;
    }
  }
  & tbody tr {
    border-bottom: 1px solid #e7e7e7;
  }
  & td {
    color: #111;
    font-size: 16px;
    font-weight: 400;
    padding: 18px 0;
    @media (max-width: 750px) {
      display: none;
    }
  }
  @media (max-width: 750px) {
    .mobileShow {
      display: table-cell;
    }
  }
}
.tableBody {
  & tr {
    cursor: pointer;
  }
  & td {
    color: #111;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
  }
  .ticketId {
    display: flex;
    align-items: center;
    .ticketIcon {
      margin-left: 8px;
    }
    .ticketIdNumber {
      color: #111;
      font-size: 14px;
      font-weight: 600;
      line-height: 16px;
    }
    .ticketTitle {
      color: #888;
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
    }
  }

  .updatedUser {
    color: #888;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }

  .label {
    width: fit-content;
    border-radius: 16px;
    display: flex;
    align-items: center;
    padding: 2px 8px;
    .circle {
      width: 6px;
      height: 6px;
      margin-left: 4px;
      border-radius: 100%;
    }
    .labelValue {
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
    }
  }
  .onlyMobile {
    display: none;
    @media (max-width: 750px) {
      display: flex;
    }
  }
  .high {
    background-color: #f9e7e7;
    .circle {
      background-color: #c92b2b;
    }
    .labelValue {
      color: #c92b2b;
    }
  }
  .medium {
    background-color: #fff5e7;
    .circle {
      background-color: #fea526;
    }
    .labelValue {
      color: #fea526;
    }
  }
  .low {
    background-color: #b8b8b880;
    .circle {
      background-color: #888888;
    }
    .labelValue {
      color: #888888;
    }
  }
}
.spinnerBox {
  width: 100%;
  text-align: center;
  margin: 20px auto;
}
.SearchBox {
  width: 100%;
  height: 44px;
  max-width: 320px;
  display: flex;
  padding: 10px 14px;
  margin-right: 16px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--colors-neutral-200, #e7e7e7);
  background-color: var(--White, #fff);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  &::placeholder {
    color: var(--colors-neutral-300, #b8b8b8);
    font-size: 14px;
    font-weight: 500;
    margin-right: 8px;
  }
}
