.modalContainer {
  top: 20%;
}
.modalBody {
  padding: 20px 16px;

  .promptStyle {
    font-size: 15px;
    font-weight: 500;
    color: #000;
  }
  .btn {
    width: 100%;
    background-color: #c31414;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 700;
    height: 48px;
    color: #fff;
    border-radius: 10px;
  }
}
.modalIcon {
  margin: 25px auto;
  display: block;
  width: 60px;
}
