.container {
  width: 100%;
  min-height: 80vh;
  background-color: #fff;
  padding: 24px;
  border-radius: 14px;
  .titleWrappwer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .tableWrapper {
    margin-top: 34px;
    width: 100%;
    & th {
      color: #888888;
      font-size: 16px;
      font-weight: 600;
      line-height: 16px;
    }
    & tbody tr {
      border-bottom: 1px solid #e7e7e7;
    }
    & td {
      color: #111;
      font-size: 16px;
      font-weight: 400;
      padding: 18px 0;
    }
  }
}
