.container {
  width: 100%;
  min-height: 90vh;
  background-color: #fff;
  padding: 24px 2.2%;
  border-radius: 14px;
  .imageContainer {
    position: relative;
    width: 100%;
    transform: rotate(90deg) translateX(19%) translateY(-30%);
    width: 480px;
    .image {
      width: 480px;
      margin: 0 auto;
      border-radius: 14px;
    }
  }
}

.planTopBox {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .title {
    font-size: 16px;
    line-height: 24px;
  }
  .select {
    width: 142px;
    appearance: none;
    background: transparent;
    background-image: url("../../../public/images/icons/chevron-down-blue.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 14px;
    border-radius: 8px;
    border: 1px solid #80bfff;
    outline: 1px solid #80bfff;
    background-color: #e5f2ff;
    padding: 6px 8px;
  }
}
