.sensorsList {
  padding: 18px;
  border-radius: 14px;
  background: #f1f2f6;
  .listHeader,
  .listItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    direction: ltr;
  }
  .listHeader {
    & span {
      color: #888;
      font-size: 14px;
      font-weight: 600;
      line-height: 16px;
      margin-bottom: 16px;
      text-align: center;
      width: 50%;
    }
  }
  .listItem {
    border-bottom: 1px solid #e7e7e7;
    padding: 8px 0;
    span:first-child {
      font-weight: 400;
    }
    & span {
      color: #111;
      font-size: 14px;
      font-weight: 600;
      line-height: 16px;
      text-align: center;
      width: 50%;
      overflow: hidden;
      word-break: break-word;
      padding: 2px 5px;
    }
  }
}
.modalContainer {
  top: 17%;
}
.modalBody {
}
.spinner {
  width: 100%;
  text-align: center;
}
