//profile
.container {
  width: 94%;
  padding: 24px;
  background-color: white;

  @media (max-width: 600px) {
    margin: 88px 14px 97px;
  }

  .title {
    color: var(--colors-neutral-700, #111);
    background-color: white;
    font-weight: 500;
    text-align: right;
    font-size: 16px;
    font-weight: 500;
  }

  .tabContainer {
    background-color: white;
  }

  .TabsBox {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: white;
  }

  .profileTab {
    color: var(--colors-neutral-400, #888);
    cursor: pointer;
    background-color: white;
    margin: 0 1.8%;
    padding: 37px 0 12px;
    font-size: 16px;
    font-weight: 500;
    @media (max-width: 600px) {
      margin-right: 16px;
    }
  }

  .profileActiveTab {
    color: #007eff;
    border-bottom: 1px solid #007eff;
    font-size: 16px;
    padding: 37px 0 12px;
    background-color: white;
    font-weight: 500;
    border-radius: 0;
    @media (max-width: 600px) {
      margin-right: 22px;
    }
  }

  .content {
    background-color: white;
  }
}

//userInformationStyle

.userInformationContainer {
  background-color: white;
  margin-top: 44px;

  .topBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    padding: 24px;
    background-color: white;
    border-radius: 24px;
    border: 1px dashed var(--colors-neutral-300, #b8b8b8);

    .titleBox {
      background-color: white;
      display: flex;
      align-items: center;

      .editedIcon {
        width: 48px;
        height: 48px;
        padding: 9px;
        border-radius: 1000px;
        margin-left: 16px;
      }
      .topBoxTitle {
        background-color: white;
        color: var(--colors-neutral-500, #585858);
        text-align: right;
        font-family: Vazirmatn;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 125% */
      }
    }

    .uploadLogo {
      border-radius: 10px;
      border: none;
      background: var(--colors-primary-primary-200, #e5f2ff);
      width: 132px;
      height: 48px;
      color: #007eff;
      color: #007eff;
      font-size: 16px;
      font-weight: 700;
      @media (max-width: 600px) {
        margin-top: 40px;
      }
    }
  }

  .form {
    background-color: white;
    margin: 32px 24px;

    .formBody {
      background-color: white;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      border-bottom: 1px solid #e7e7e7;
      @media (max-width: 600px) {
        border-bottom: unset;
      }

      .inputBox {
        background-color: white;
        width: 536px;
        .label {
          background-color: white;
          color: var(--colors-neutral-500, #585858);
          font-size: 14px;
          font-weight: 500;
          margin-bottom: 8px;
        }
        .select {
          width: 100%;
          border-radius: 8px;
          border: 1px solid var(--colors-neutral-200, #e7e7e7);
          background: #fff;
          outline: none;
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
          padding: 10px 14px;
          margin-bottom: 32px;
        }
        .input {
          background-color: white;
          width: 100%;
          height: 44px;
          padding: 10px 14px;
          margin-bottom: 32px;
          outline: none;
          border-radius: 8px;
          background: #f1f2f6;
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
          border: none;
        }
      }

      .btnBox {
        display: flex;
        background-color: white;
        margin-bottom: 16px;
        .saveBtn {
          width: 132px;
          height: 48px;
          border-radius: 10px;
          background: #007eff;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1) inset,
            0px -4px 4px 0px rgba(0, 0, 0, 0.1) inset;
          border: none;
          color: white;
          margin-left: 16px;
        }
        .cancelBtn {
          border-radius: 10px;
          background: var(--colors-primary-primary-200, #e5f2ff);
          width: 132px;
          height: 48px;
          border: none;
          color: #007eff;
        }
      }
    }
  }

  .linksBox {
    display: flex;
    background-color: white;
    margin-right: 24px;
    .infoIcon {
      background-color: white;
      margin-left: 8px;
    }
    .rules {
      background-color: white;
      color: var(--colors-primary-primary-500, #007eff);
      font-size: 16px;
      text-decoration-line: underline;
    }
  }
}

//passwordStyle

.passwordContainer {
  background-color: white;
  .form {
    background-color: white;
    margin: 32px 24px;

    .formBody {
      background-color: white;
      .inputBox {
        background-color: white;
        width: 536px;
        @media (max-width: 600px) {
          width: 100%;
        }
        .label {
          background-color: white;
          color: var(--colors-neutral-500, #585858);
          font-size: 14px;
          font-weight: 500;
          margin-bottom: 8px;
        }

        .input {
          background-color: white;
          width: 100%;
          height: 44px;
          padding: 10px 14px;
          margin-bottom: 32px;
          outline: none;
          border-radius: 8px;
          background: #f1f2f6;
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
          border: none;
        }
      }

      .btnBox {
        display: flex;
        background-color: white;
        margin: 58px 24px auto auto;
        @media (max-width: 600px) {
          margin: 56px 16px auto;
        }
        .saveBtn {
          width: 132px;
          height: 48px;
          border-radius: 10px;
          background: #007eff;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1) inset,
            0px -4px 4px 0px rgba(0, 0, 0, 0.1) inset;
          border: none;
          color: white;
          margin-left: 16px;
        }
        .cancelBtn {
          border-radius: 10px;
          background: var(--colors-primary-primary-200, #e5f2ff);
          width: 132px;
          height: 48px;
          border: none;
          color: #007eff;
        }
      }
    }
  }
}
