.container {
  display: flex;
  align-items: center;
  margin-top: 22px;
  .image {
    width: 20px;
    height: 20px;
    opacity: 0.5;
  }
  .title {
    color: #111;
    font-size: 14px;
    font-weight: 400;
    margin-right: 8px;
  }
  .playLink {
    display: flex;
    align-items: center;
    margin-right: auto;
    .playLinkIcon {
      width: 14px;
      height: 14px;
    }
    .link {
      color: #007eff;
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      margin-right: 4px;
    }
  }
}
.isLast {
  opacity: 0.5;
}
