.middleSliderItem {
  display: flex;
  align-items: center;
  text-decoration: none;

  @media (max-width: 750px) {
    flex-wrap: wrap;
  }
  .image {
    width: 41.4%;
    margin-left: 7.5%;
    @media (max-width: 750px) {
      width: 100%;
      margin: 0;
    }
  }
  .textBox {
    .title {
      color: #111;
      font-size: 20px;
      font-weight: 600;
    }
    .subTitle {
      color: #292929;
      font-size: 12px;
      font-weight: 400;
    }
    .description {
      color: #888;
      font-size: 12px;
      font-weight: 300;
      line-height: 16px;
      @media (max-width: 750px) {
        margin-top: 6px;
      }
    }
  }
}
