.container {
  width: 15.5%;
  min-width: 130px;
  background: #e8f3fe;
  padding-top: 22px;
  min-height: 100vh;
  border-radius: 20px 0px 0px 20px;
  box-shadow: 0px 4px 4px 0px rgba(132, 132, 132, 0.1),
    -2px 4px 4px 1px rgba(172, 198, 202, 0.28);
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;

  @media (max-width: 1100px) {
    width: 13%;
  }
  @media (min-width: 900px) {
    display: flex;
  }
  @media (max-width: 720px) {
    display: none;
  }

  .logoBox {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    padding: 10px;
    background: #e8f3fe;

    .logoImg {
      align-items: right;
      background: #e8f3fe;
      width: 40px;
      height: 40px;
    }

    .logoText {
      background: #e8f3fe;
      margin-right: 8px;
      color: var(--colors-neutral-700, #111);
      text-align: right;
      font-size: 14px;
      font-weight: 700;
    }
  }

  .itemBox {
    margin: auto 0;
    background: #e8f3fe;
    padding-right: 2.2%;

    .sidebarLink {
      text-decoration: none;
      height: 49px;
      .sidebarItem {
        display: flex;
        align-items: center;
        padding: 15px 0;
        cursor: pointer;
        background: #e8f3fe;

        .iconBox {
          margin-right: 22px;
          width: 35px;
          height: 35px;
          display: grid;
          place-items: center;

          .icon {
            width: 20px;
            height: 20px;
            path {
            }
          }
        }

        .title {
          background: #e8f3fe;
          margin-right: 12px;
          color: #585858;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }
  .active {
    display: flex;
    height: 49px;
    .sidebarItem {
      background: #007eff !important;
      border-radius: 0px 100px 100px 0px;
      width: 100%;

      .title {
        background: #007eff !important;
      }
      .iconBox {
        margin-right: 18px;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        text-align: center;
        .icon {
          width: 20px;
          height: 20px;
          path {
            stroke: #fff;
          }
        }
      }
      .title {
        color: white !important;
        font-size: 14px;
      }
    }
  }

  .profileBox {
    background: #e8f3fe;
    padding: 24px 12px 32px;
    border-top: 1px solid var(--colors-primary-primary-300, #80bfff);
    display: flex;
    align-items: center;
    cursor: pointer;
    .profileImg {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    .infoProfileBox {
      width: 59%;
      background: #e8f3fe;
      margin-right: 8px;
      .profileName {
        background: #e8f3fe;
        color: var(--color-black, #000);
        font-size: 14px;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .profileEmail {
        background: #e8f3fe;
        color: var(--colors-neutral-500, #585858);
        font-size: 12px;
        word-break: break-all;
      }
    }

    .logOut {
      width: 20px;
      height: 20px;
      background: #e8f3fe;
      margin-right: 10px;
    }
  }
}
