.modalContainer {
  top: 5%;
}
.modalBody {
  padding: 22px 17px;
  @media (max-width: 750px) {
    padding: 8px 0 6px;
  }
}
.spinner {
  width: 100%;
  text-align: center;
}
.flex {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  .image {
    width: 90px;
    height: 90px;
    border-radius: 14px;
  }
  .uploadLogo {
    width: 100px;
    margin-right: 50px;
  }
}

.form {
  background-color: white;
  .formBody {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    justify-content: space-between;
    @media (max-width: 750px) {
      border-bottom: unset;
      padding-bottom: unset;
    }

    .inputBox,
    .inputBoxFull {
      background-color: white;
      width: 48%;
      margin-bottom: 16px;

      .select {
        width: 100%;
        border-radius: 8px;
        border: 1px solid var(--colors-neutral-200, #e7e7e7);
        background: #fff;
        outline: none;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        padding: 10px 14px;
        margin-bottom: 16px;

        // select icon
        appearance: none;
        background: transparent;
        background-image: url("../../../../../public/images/icons/chevron-down-black.svg");
        background-repeat: no-repeat;
        background-position: left center;
        background-position-x: 14px;

        @media (max-width: 750px) {
          margin-bottom: 16px;
        }
      }

      .input {
        background-color: white;
        width: 100%;
        height: 44px;
        padding: 10px 14px;
        @media (max-width: 750px) {
          margin-bottom: 16px;
        }
        border-radius: 8px;
        border: 1px solid var(--Colors-Neutral-200, #e7e7e7);
        background: #fff;
      }
    }
    .label {
      background-color: white;
      color: var(--colors-neutral-500, #585858);
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 8px;
    }
    .inputBoxFull {
      width: 100%;
    }
    .textAreaBox {
      background-color: white;
      width: 48%;
      margin-bottom: 16px;
      .textarea {
        width: 100%;
        resize: none;
        padding: 10px;
        border-radius: 8px;
        border: 1px solid var(--Colors-Neutral-200, #e7e7e7);
        background: #fff;
      }
    }

    .btnBox {
      display: flex;
      background-color: white;
      margin-bottom: 16px;
      .saveBtn {
        width: 132px;
        height: 48px;
        border-radius: 10px;
        background: #007eff;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1) inset,
          0px -4px 4px 0px rgba(0, 0, 0, 0.1) inset;
        border: none;
        color: white;
        margin-left: 16px;
      }
      .cancelBtn {
        border-radius: 10px;
        background: var(--colors-primary-primary-200, #e5f2ff);
        width: 132px;
        height: 48px;
        border: none;
        color: #007eff;
      }
    }
  }
}
