.smallBoxWrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-top: 16px;
  @media (max-width: 750px) {
    flex-direction: column;
    justify-content: center;
    gap: 16px;
  }
}
.smallBox {
  width: 32%;
  background-color: white;
  border-radius: 14px;
  padding: 19px 2% 3px;
  @media (max-width: 750px) {
    width: 100%;
  }
}

.notifications {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.speedTest,
.diskHealth {
  width: 100%;
  background-color: white;
  border-radius: 14px;
  margin-bottom: 16px;
  padding: 20px 5px;
  .titleBoxContainer {
    padding-right: 6px;
  }
  .speedBottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9.2%;
    .section {
      text-align: center;
    }
    .title {
      margin: 0;
      color: #111;
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 4px;
    }
    .value {
      margin: 0;
      color: #007eff;
      font-size: 16px;
      font-weight: 500;
      line-height: 16px;
    }
  }
}
