.container {
  width: 100%;
  min-height: 80vh;
  background-color: #fff;
  padding: 24px 2.2%;
  border-radius: 14px;
  @media (max-width: 750px) {
    padding: 18px 5.3%;
  }
  .titleWrappwer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .tableWrapper {
    margin-top: 34px;
    width: 100%;

    & th {
      color: #888888;
      font-size: 16px;
      font-weight: 600;
      line-height: 16px;
      width: 15%;
    }
    .deviceTh {
      width: 10% !important;
      overflow: hidden;
    }
    .statusTh {
      @media (max-width: 750px) {
        width: 33% !important;
        text-align: center;
      }
    }
    & tbody tr {
      border-bottom: 1px solid #e7e7e7;
    }
    & td {
      color: #111;
      font-size: 16px;
      font-weight: 400;
      padding: 18px 0;
    }
  }
}
.hideMobile {
  @media (max-width: 750px) {
    display: none;
  }
}
