.container {
  width: 100%;
  min-height: 80vh;
  background-color: #fff;
  padding: 24px 2.2%;
  border-radius: 14px;
  @media (max-width: 750px) {
    padding: 18px 5.3%;
  }
  .titleWrappwer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .tableWrapper {
    margin-top: 34px;
    width: 100%;

    & th {
      color: #888888;
      font-size: 16px;
      font-weight: 600;
      line-height: 16px;

      &:nth-last-child(-n + 3) {
        text-align: center;
      }
    }

    & tbody tr {
      border-bottom: 1px solid #e7e7e7;
    }
    & td {
      color: #111;
      font-size: 16px;
      font-weight: 400;
      padding: 18px 0;
    }
    & td {
      &:nth-last-child(-n + 3) {
        text-align: center;
      }
    }
  }
}
.limitContainer {
  min-height: unset;
  margin-top: 24px;
  & td {
    &:nth-last-child(-n + 3) {
      background-color: unset;
    }
  }
}
.createCompany {
  width: 30%;
  min-width: 140px;
  max-width: 200px;
}
.showAll {
  margin: 24px auto 0;
  width: 100%;
}
.w6 {
  width: 6%;
}
.w10 {
  width: 10%;
}
.w15 {
  width: 15%;
}
.w7 {
  width: 7%;
}
.hideMobile {
  @media (max-width: 750px) {
    display: none;
  }
}

.tabContainer {
  background-color: white;
}

.TabsBox {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: white;
}

.profileTab {
  color: var(--colors-neutral-400, #888);
  cursor: pointer;
  background-color: white;
  margin: 0 1.8%;
  padding: 37px 0 12px;
  font-size: 16px;
  font-weight: 500;
  @media (max-width: 750px) {
    padding: 0 0 12px;
    margin: 0;
    margin-left: 16px;
  }
}

.profileActiveTab {
  color: #007eff;
  border-bottom: 1px solid #007eff;
}
