.loginWrapper {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.container {
  width: 100%;
  display: flex;
  align-items: stretch;
  padding: 0 3.3%;
  @media (max-width: 900px) {
    flex-direction: column;
    padding: 0;
  }
}

.carouselContainer {
  width: 38%;
  margin-right: 32px;
  max-width: 760px;
  max-height: 850px;
  border-radius: 14px;
  overflow: hidden;
  :global {
    .carousel-item {
      border-radius: 14px;
    }
  }
  @media (max-width: 1500px) {
    width: 47%;
    max-width: 630px;
    max-height: 697px;
  }
  @media (min-width: 1500px) {
    width: 43%;
    min-width: 506px;
  }
  @media (max-width: 900px) {
    display: none;
  }
  img {
    width: 100%;
    border-radius: 14px;
  }
}

//informationBox
.informationBoxContainer {
  width: 41%;
  position: relative;
  display: grid;
  place-items: center;
  @media (max-width: 900px) {
    width: 100%;
    margin-bottom: 35px;
    height: 85vh;
  }

  .logoBox {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 5%;
    @media (max-width: 900px) {
      top: 0;
    }

    .logoImg {
      align-items: right;
    }

    .logoText {
      margin-right: 8px;
      color: var(--colors-neutral-700, #111);
      text-align: right;
      font-size: 16px;
      font-weight: 700;
    }
  }
  .formContainer {
    @media (max-width: 750px) {
      width: 100%;
    }
  }
  .form {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    @media (max-width: 750px) {
      margin: 0 auto !important;
    }

    .welcome {
      color: var(--colors-neutral-700, #111);
      text-align: right;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
    }

    .loginInputBox {
      width: 100%;
      border-radius: 12px;
      background: var(--color-gray-background, #f1f2f6);
      box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.07);
      padding: 16px;
      margin: 0 auto;
      @media (max-width: 750px) {
        width: 88.88%;
      }
      .icon {
        margin-left: 8px;
      }

      .eye {
        cursor: pointer;
        width: 20px;
        height: 20px;
      }

      .userName,
      .password {
        width: 245px;
        border: none;
        background: var(--color-gray-background, #f1f2f6);
        margin-bottom: 16px;
        text-align: right;
        outline: unset;
        &::placeholder {
          color: var(--colors-neutral-400, #888);
          text-align: right;
          font-size: 14px;
          font-weight: 500;
          margin-right: 8px;
        }
      }

      .password {
        margin: 16px 0 0 0 !important;
      }

      .line {
        background: var(--colors-neutral-200, #e7e7e7);
        height: 1px;
        margin: 0 16px;
      }
    }

    .button {
      border-radius: 12px;
      background: var(--colors-primary-primary-500, #007eff);
      box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1) inset,
        0px -1px 4px 0px rgba(0, 0, 0, 0.1) inset;
      display: flex;
      width: 100%;
      max-width: 320px;
      height: 48px;
      justify-content: center;
      align-items: center;
      margin-top: 48px;
      border: unset;
      color: var(--color-white, #fff);
      font-size: 16px;
      font-weight: 700;
      @media (max-width: 750px) {
        margin: 20px auto;
        width: 88.88%;
      }
    }

    .error {
      width: 100%;
      margin-bottom: 8px;
      color: var(--colors-error-error-500, #d55a5a);
      text-align: right;
      font-size: 12px;
    }
  }
}
