.container {
  display: flex;
  padding: 87px 48px;
}

//informationBox
.informationBoxContainer {
  width: 552px;
  height: auto;

  .logoBox {
    margin: 40px 67px 0 auto;
    display: flex;
    justify-content: right;

    .logoImg {
      align-items: right;
    }

    .logoText {
      margin-right: 8px;
      color: var(--colors-neutral-700, #111);
      text-align: right;
      font-size: 16px;
      font-weight: 700;
    }
  }

  .form {
    width: 320px;
    height: 225px;
    display: flex;
    justify-content: center;
    margin: 333px 116px 292px;
  }

  .field,
  .errorField,
  .password {
    display: block;
    width: 100%;
    height: auto;
    padding: 0 16px;
    border-radius: 12px;
    border: solid 1px #d8dae2;
    background-color: #fff;
    color: gray;
  }

  .errorField {
    border: 1px solid red;
  }

  .button {
    display: block;
    width: 100%;
    height: 42px;
    margin: 17px 0 0;
    border: 2px solid #fff;
    background: linear-gradient(0deg, #2d588c, #3f72af);
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
  }

  .error {
    width: 68.8%;
    margin: 6px auto 0;
    color: red;
    font-size: 12px;
    line-height: 1.18;
  }
}
