.container {
  background-color: white;
  width: 23.43%;
  border-radius: 14px;
  padding: 16px;
  margin-top: 24px;
  @media (max-width: 750px) {
    width: 48%;
    padding: 8px;
  }
  .icon {
    width: 20px;
    height: 20px;
  }
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .arrow {
  }
  .bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    @media (max-width: 750px) {
      flex-direction: column;
      align-items: start;
    }
  }
  .offline,
  .online {
    @media (max-width: 750px) {
      width: 100%;
      display: flex;
      align-items: start;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 12px;
      padding: 0 !important;
    }
  }
  .online {
    @media (max-width: 750px) {
      margin-top: 12px;
    }
  }
  .title {
    color: #b8b8b8;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    @media (max-width: 750px) {
      margin-top: 8px;
      font-size: 12px;
    }
  }
  .allDeviceBox {
    display: flex;
    align-items: center;
    @media (max-width: 750px) {
      display: unset;
      width: 100%;
    }
    & div:first-child {
      padding-left: 8px;
    }
    & div {
      text-align: center;
      & p {
        margin: 0;
        margin-top: 7px;
        color: #111;
        font-size: 16px;
        line-height: 16px;
        @media (max-width: 750px) {
          margin-top: 0px;
        }
      }
    }
  }
}
