.mapDeviceIcon {
  position: absolute;
  z-index: 888;
  width: 29px;
  height: 34px;
  @media (max-width: 750px) {
    width: 25px;
    height: 29px;
  }
}
.svgIcon {
  position: relative;
}
.icon {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 7px;
  top: 6px;
  @media (max-width: 750px) {
    left: 3px;
  }
  svg {
    width: 16px;
    height: 16px;

    path {
      fill: white;
    }
  }
}

.modalContainer {
  top: 5%;
}
.modalBody {
  padding: 22px 17px;
  @media (max-width: 750px) {
    padding: 8px 0 6px;
  }
  .promptStyle {
    font-size: 15px;
    font-weight: 500;
  }
  .buttons {
    display: flex;
    align-items: center;
    gap: 5%;
  }
}
