.mapDeviceIcon {
  position: absolute;
  z-index: 888;
  width: 29px;
  height: 34px;
  @media (max-width: 750px) {
    width: 25px;
    height: 29px;
  }
}
.svgIcon {
  position: relative;
}
.icon {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 7px;
  top: 6px;
}
