.dashboardTopBox {
  .right {
    width: 57.56%;
  }
  .title {
    color: #111;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }
  .subTitle {
    color: #888;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
  }
}
