.secondaryButton {
  width: 100%;
  height: 48px;
  background-color: #e5f2ff;
  color: #007eff;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  border: none;

  display: grid;
  place-items: center;
  cursor: pointer;
}
