.container {
  background-color: #fff;
  border-radius: 14px;
  padding: 26px 16px 16px 16px;
  min-height: 305px;
  position: relative;
  margin-top: 24px;

  .showAll {
    margin: 24px auto 0;
    width: 100%;
  }
}
