.container {
  width: 100%;
  height: 90px;
  position: fixed;
  bottom: 0;
  background: #e8f3fe;
  padding-top: 22px;
  border-radius: 32px 32px 0px 0px;
  box-shadow: 0px -4px 4px 0px rgba(149, 149, 149, 0.13);
  padding: 13px 20px;
  display: none;
  z-index: 9999;
  @media (max-width: 900px) {
    display: unset;
  }
  .itemBox {
    display: flex;
    justify-content: space-between;
  }
  .sidebarLink {
    display: grid;
    place-items: center;
    text-decoration: none;

    .iconBox {
      width: 35px;
      height: 35px;
      display: grid;
      place-items: center;
      border-radius: 50%;
      & svg {
        width: 20px;
        height: 20px;
        & path {
          stroke: #585858;
        }
      }
    }
    .title {
      color: #585858;
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
    }
  }
  .active {
    .title {
      color: #007eff;
    }
    .iconBox {
      & svg {
        & path {
          stroke: #007eff;
        }
      }
    }
    .icon {
      width: 20px;
      height: 20px;
    }
  }
}
