* {
  background: white;
}
.container {
  width: 224px;
  background: #e8f3fe;
  padding-top: 22px;
  min-height: 100vh;
  border-radius: 20px 0px 0px 20px;
  box-shadow: 0px 4px 4px 0px rgba(132, 132, 132, 0.1),
    -2px 4px 4px 1px rgba(172, 198, 202, 0.28);
  display: none;
  flex-direction: column;

  @media (min-width: 1100px) {
    display: flex;
  }

  .logoBox {
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: right;
    background: #e8f3fe;

    .logoImg {
      align-items: right;
      background: #e8f3fe;
      width: 32px;
      height: 32px;
    }

    .logoText {
      background: #e8f3fe;
      margin-right: 8px;
      color: var(--colors-neutral-700, #111);
      text-align: right;
      font-size: 14px;
      font-weight: 700;
    }
  }

  .itemBox {
    margin: auto 0;
    background: #e8f3fe;

    .sidebarLink {
      text-decoration: none;

      .sidebarItem {
        display: flex;
        background: #e8f3fe;
        margin-top: 29px;
        cursor: pointer;

        .iconBox {
          background: #e8f3fe;
          margin-right: 22px;
          width: 35px;
          height: 35px;

          .icon {
            background: #e8f3fe;
            width: 20px;
            height: 20px;
          }
        }

        .title {
          background: #e8f3fe;
          margin-right: 12px;
          color: #585858;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }

    .active {
      display: flex;
      height: 49px;
      border-radius: 0px 100px 100px 0px;
      background: #007eff;
      // padding: 7px 8px 7px auto;

      .iconBox {
        background: #e8f3fe;
        margin-right: 18px;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        text-align: center;
        margin: 7px 18px 7px auto;
        .icon {
          background: #e8f3fe;
          width: 20px;
          height: 20px;
        }
      }

      .title {
        background: #007eff;
        margin: 8px 12px 0 auto;
        color: white;
        font-size: 14px;
      }
    }
  }

  .profileBox {
    background: #e8f3fe;
    padding: 24px 0 32px;
    border-top: 1px solid var(--colors-primary-primary-300, #80bfff);
    display: flex;

    .profileImg {
      border-radius: 200px;
      margin-right: 4px;
    }

    .infoProfileBox {
      width: 106px;
      background: #e8f3fe;
      margin-right: 8px;
      .profileName {
        background: #e8f3fe;
        color: var(--color-black, #000);
        font-size: 14px;
        font-weight: 600;
      }

      .profileEmail {
        background: #e8f3fe;
        color: var(--colors-neutral-500, #585858);
        font-size: 14px;
      }
    }

    .logOut {
      width: 20px;
      height: 20px;
      background: #e8f3fe;
      margin: 15px 18px 4px 0;
    }
  }
}
