body {
  font-size: 15px;
}

* {
  direction: rtl;
  border-radius: 14px;
  padding: 0 auto;
}

:root {
  background: var(--color-gray-background, #f1f2f6);
}

.flexRoot {
  display: flex;
  align-items: start;
  gap: 32px;
}
