@font-face {
  font-family: "Vazirmmatn";
  src: url("./fonts/Vazirmatn-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Vazirmmatn";
  src: url("./fonts/Vazirmatn-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
}

body {
  font-size: 15px;
  font-family: "Vazirmmatn";
}

* {
  direction: rtl;
  // border-radius: 14px;
  // padding: 0 auto;
}

// :root {
//   background: var(--color-gray-background, #f1f2f6);
// }
.flexRoot {
  display: flex;
  align-items: start;
  gap: 32px;
}
