.header {
  display: flex;
  justify-content: space-between;
  background: white;
  flex-wrap: wrap;
  @media (max-width: 750px) {
    flex-direction: column;
  }

  .title {
    background: white;
    color: #111;
    font-size: 16px;
    font-weight: 500;
  }

  .date {
    color: #585858;
    background: white;
    font-size: 14px;
    font-weight: 500;
    @media (max-width: 750px) {
      margin-top: 8px;
    }
  }
}
