.header {
  display: flex;
  justify-content: space-between;
  background: white;
  flex-wrap: wrap;

  .title {
    background: white;
    color: #111;
    font-size: 16px;
    font-weight: 500;
  }

  .date {
    color: #585858;
    background: white;
    font-size: 14px;
    font-weight: 500;
  }
}
